extends ../layout/index
block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-redNCS Bienes
            span.font-normal.text-black Raíces

        .mt-8.mx-auto.max-w-4xl.flex
            .bg-white.py-8.px-4.shadow-xl.rounded-xl.w-full
                if errores
                    div.mx-w-md.mx-auto.mb-5(class="animate-anim2")
                        each error in errores
                            .flex.items-center.p-4.mb-2.text-sm.rounded-lg.bg-white.text-redNCS.max-w-xl.mx-auto.shadow-md
                                svg.flex-shrink-0.inline.w-4.h-4.me-3(aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20")
                                    path(d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z")
                                span.font-medium= error.msg

                form(method="POST" novalidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="password") Coloca tu nuevo Password
                        input#passwordl.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu nuevo password" type="password" name="password" required)

                    input(class="w-full bg-redNCS hover:bg-redNCS-light text-white font-bold py-3 cursor-pointer rounded-lg transition duration-300" type="submit" value="Guardar password")